<nav>
   <ul class="pager">
      {{#if prev}}
         <li><a href="{{page_url prev}}">&larr; Newer Posts</a></li>
      {{/if}}
      <li class="page-number">Page {{page}} of {{pages}}</li>
      {{#if next}}
         <li><a href="{{page_url next}}">Older Posts &rarr;</a></li>
      {{/if}}
   </ul>
</nav>
